{% extends 'generator_app/base.html' %}
{% load static %}
{% block sidebar %}
{% include "generator_app/admin_sidebar.html" %}
{% endblock %}

{% block content %}

    <div class="row navbar-secondary">
        <div class="col-md-9 col-9">
            <h3>Documents</h3>
        </div>
        <div class="col-md-3 col-3" style="text-align: right; margin-top: -7px;"></div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            {% include 'generator_app/messages.html' %}
        </div>
        <div class="col-12 text-center">
            <div class="card">
                <div class="card-body" style="padding: 10px;">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 d-flex align-items-center" style="text-align: left;">                            
                            <h3 style="margin-right: 10px; margin-left: 10px; padding-top: 6px;">Documents for User: {{user.username}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        {% if not user_documents%}
        <div class="col-12 text-center">
            <div class="card">
                <div class="card-body" style="padding: 100px;">
                    <h3 class="font-bold text-dark">No record found</h3>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <div id="pat_appointments" class="tab-pane fade show active">
                <div class="card card-table mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Documents</th>
                                        <th>Template</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for document in user_documents%}
                                    <tr>
                                        <td>{{document.name}}</td>
                                        <td>{{document.template.name}}</td>
                                        <td>
                                            <div class="table-action">
                                                
                                                <a href="#remove_document_modal_{{document.id}}" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" tooltip="Delete Document">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>

                                                <button data-document-id="{{ document.id }}" class="btn btn-sm bg-info-light document-download-btn" data-bs-toggle="title" tooltip="Download Word Document">
                                                    <i class="fa-solid fa-file-word"></i>
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                                                </button>

                                                <button data-document-id="{{ document.id }}" class="btn btn-sm bg-info-light document-download-btn-pdf" data-bs-toggle="title" tooltip="Download PDF Document">
                                                    <i class="fa-solid fa-file-pdf"></i>
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
    </div>
    </div>
    </div>

        <!-- REMOVE DOCUMENT MODALS-->
    {% for document in user_documents%}
    <div class="modal fade" id="remove_document_modal_{{document.id}}" style="display: none; z-index:100000" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="template">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <form  action="/remove_document" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                            <h4 class="modal-title">Are you sure you want to remove the document along with all the data including answers</h4>
                            </div>
                            <input type="text" name="user_document_id" class="form-control" value="{{document.id}}" style="display: none;">
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel </button>
                                <button type="submit" class="btn btn-danger">Delete </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- REMOVE DOCUMENT MODALS-->

{% endblock %}

{% block static %}

    <script>
        $(document).ready(function() {
            function downloadDocument(buttonElement, documentId) {
                console.log("Document ID:", documentId);
                var spinner = buttonElement.find(".spinner-border");
                spinner.show();
                var download_url = "/download_document/" + documentId;
                fetch(download_url)
                    .then((response) => {
                        spinner.hide();
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        // Extract filename from Content-Disposition header
                        var filename = "";
                        var contentDisposition = response.headers.get("Content-Disposition");
                        if (contentDisposition && contentDisposition.indexOf("attachment") !== -1) {
                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                            var matches = filenameRegex.exec(contentDisposition);
                            if (matches != null && matches[1]) {
                                filename = matches[1].replace(/['"]/g, "");
                            }
                        }
                        return response.blob().then((blob) => ({ blob, filename }));
                    })
                    .then(({ blob, filename }) => {
                        if (!blob) {
                            throw new Error("Blob data is empty");
                        }
                        var url = window.URL.createObjectURL(blob);
                        var a = document.createElement("a");
                        a.href = url;
                        // Set the downloaded file name if available, otherwise let browser handle it
                        if (filename) {
                            a.download = filename;
                        }
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                        document.body.removeChild(a);
                        console.log("Download initiated successfully");
                    })
                    .catch((error) => {
                        spinner.hide();
                        console.error("Error occurred while downloading document:", error);
                    });
            }


            function downloadDocumentPDF(buttonElement, documentId) {
                console.log("Document ID:", documentId);
                var spinner = buttonElement.find(".spinner-border");
                spinner.show();
                var download_url = "/download_document_pdf/" + documentId;
                fetch(download_url)
                    .then((response) => {
                        spinner.hide();
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        // Extract filename from Content-Disposition header
                        var filename = "";
                        var contentDisposition = response.headers.get("Content-Disposition");
                        if (contentDisposition && contentDisposition.indexOf("attachment") !== -1) {
                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                            var matches = filenameRegex.exec(contentDisposition);
                            if (matches != null && matches[1]) {
                                filename = matches[1].replace(/['"]/g, "");
                            }
                        }
                        return response.blob().then((blob) => ({ blob, filename }));
                    })
                    .then(({ blob, filename }) => {
                        if (!blob) {
                            throw new Error("Blob data is empty");
                        }
                        var url = window.URL.createObjectURL(blob);
                        var a = document.createElement("a");
                        a.href = url;
                        // Set the downloaded file name if available, otherwise let browser handle it
                        if (filename) {
                            a.download = filename;
                        }
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                        document.body.removeChild(a);
                        console.log("Download initiated successfully");
                    })
                    .catch((error) => {
                        spinner.hide();
                        console.error("Error occurred while downloading document:", error);
                    });
            }

            $(".document-download-btn").on("click", function(event) {
                event.preventDefault();
                var buttonElement = $(this);
                var documentId = buttonElement.data("document-id");
                downloadDocument(buttonElement, documentId);
            });

            $(".document-download-btn-pdf").on("click", function(event) {
                event.preventDefault();
                var buttonElement = $(this);
                var documentId = buttonElement.data("document-id");
                downloadDocumentPDF(buttonElement, documentId);
            });

            $("#manage-users-btn").addClass("btn-ns-primary");
            $("#manage-users-btn").removeClass("btn-ns-secondary");
        });
    </script>
    
{% endblock %}