{% extends 'generator_app/base.html' %}
{% load static %}
{% block sidebar %}
{% include "generator_app/admin_sidebar.html" %}
{% endblock %}

{% block content %}

    <div class="row navbar-secondary">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="form-inline">
                <a href="{{return_url}}" class="btn btn-sm btn-custom-primary" style="margin-top: -7px;"><i class="fa fa-chevron-left"></i> Return</a>
                <h3 style="display: inline-block; margin-left: 10px;">
                    Sub Questions
                </h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align: right; margin-top: -7px;">
            <a href="#create_question_modal" class="btn btn-sm btn-custom-primary" data-bs-toggle="modal">New Question</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            {% include 'generator_app/messages.html' %}
        </div>
        <div class="col-12 text-center">


            {% if category_hierarchy|length > 0 %}
            <div class="card">
                <div class="card-body" style="padding: 10px;">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 d-flex align-items-center" style="text-align: left;">
                            {% if category_hierarchy|length > 0 %}
                                <a href="{% url 'admin_categories' %}">Categories</a>
                            {% else %}
                                <a href="{% url 'admin_categories' %}"><h4 style="margin-right: 10px; margin-left: 10px; padding-top: 5px;">Categories</h4></a>
                            {% endif %}
                            <div class="d-flex flex-wrap">
                                {% for category_h in category_hierarchy %}
                                <div class="d-flex align-items-center mr-3">

                                    {% if forloop.last %}
                                        <p style="margin: 0 5px;">&gt;</p>
                                        {% if category_h.type == 'template' %}
                                            <a href="{% url 'view_template_sections' template_id %}" class="category-link"><h4 style="margin-right: 10px; margin-left: 10px; padding-top: 6px;">{{ category_h.name }}</h4></a>
                                        {% elif category_h.type == 'section' %}
                                            <a href="{% url 'view_section_subsections' template_id category_h.id  %}" class="category-link"><h4 style="margin-right: 10px; margin-left: 10px; padding-top: 6px;">{{ category_h.name }}</h4></a>
                                        {% elif category_h.type == 'question' %}
                                            <a href="{% url 'get_root_questions' template_id category_h.id %}" class="category-link"><h4 style="margin-right: 10px; margin-left: 10px; padding-top: 6px;">{{ category_h.name }}</h4></a>
                                        {% elif category_h.type == 'subquestion' %}
                                            {% if category_h.name|length <= 10 %}
                                                <a href="{% url 'get_child_questions' template_id section_id category_h.id %}" class="category-link"><h4 style="margin-right: 10px; margin-left: 10px; padding-top: 6px;">{{ category_h.name }}</h4></a>
                                            {% else %}
                                                <a href="{% url 'get_child_questions' template_id section_id category_h.id %}" class="category-link"><h4 style="margin-right: 10px; margin-left: 10px; padding-top: 6px;"><span data-bs-toggle="tooltip" title="{{ category_h.name }}" data-bs-placement="top">{{ category_h.name|truncatechars:10 }}</span></h4></a>
                                           
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'admin_child_categories' category_h.id %}" class="category-link"><h4 style="margin-right: 10px; margin-left: 10px; padding-top: 6px;">{{ category_h.name }}</h4></a>
                                        {% endif %}     
                                    {% else %}
                                        <p style="margin: 0 5px;">&gt;</p>
                                        {% if category_h.type == 'template' %}
                                            <a href="{% url 'view_template_sections' template_id %}" class="category-link">{{ category_h.name }}</a>
                                        {% elif category_h.type == 'section' %}
                                            <a href="{% url 'view_section_subsections' template_id category_h.id  %}" class="category-link">{{ category_h.name }}</a>
                                        {% elif category_h.type == 'question' %}
                                            <a href="{% url 'get_root_questions' template_id category_h.id   %}" class="category-link">{{ category_h.name }}</a>
                                        {% elif category_h.type == 'subquestion' %}
                                            {% if category_h.name|length <= 10 %}
                                                <a href="{% url 'get_child_questions' template_id section_id category_h.id %}" class="category-link">{{ category_h.name }}</a>
                                            {% else %}
                                                <a href="{% url 'get_child_questions' template_id section_id category_h.id %}" class="category-link"><span data-bs-toggle="tooltip" title="{{ category_h.name }}" data-bs-placement="top">{{ category_h.name|truncatechars:10 }}</span></a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'admin_child_categories' category_h.id %}" class="category-link">{{ category_h.name }}</a>
                                        {% endif %}
                                        
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>											
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-body" style="padding: 10px;">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 d-flex align-items-center" style="text-align: left;">                            
                            <h3 style="margin-right: 10px; margin-left: 10px; padding-top: 6px;">
                                {{navigation_text}}
                                {% for nav_ques in navigation_questions%}
                                    {% if nav_ques.question|length <= 10 %}
                                        /{{ nav_ques.question }}
                                    {% else %}
                                        <span data-bs-toggle="tooltip" title="{{ nav_ques.question }}" data-bs-placement="top">
                                            /{{ nav_ques.question|truncatechars:10 }}
                                        </span>
                                    {% endif %}
                                {% endfor%}
                            </h3>
                        </div>											
                    </div>
                </div>
            </div>
        {% endif %}


        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body pt-0">
                    <nav class="user-tabs mb-4">
                        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                            <li class="nav-item">
                                <a class="nav-link {% if request.GET.tab != 'options'%} active {% endif %}" href="#questions_tab" data-bs-toggle="tab">SubQuestions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.GET.tab == 'options'%} active {% endif %}" href="#options_tab" data-bs-toggle="tab">Options</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /Tab Menu -->

                    <!-- Tab Content -->
                    <div class="tab-content pt-0">

                        <!-- subquestions Tab -->
                        <div id="questions_tab" class="tab-pane fade show {% if request.GET.tab != 'options'%} active {% endif %}">
                            <div class="card card-table mb-0">
                                {% if not questions%}
                                <div class="card-body" style="padding: 100px; text-align: center;">
                                    <h3 class="font-bold text-dark">No record found</h3>
                                </div>
                                {% else %}
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Parent Option</th>
                                                    <th>Question</th>
                                                    <th>Sequence Number</th>
                                                    <th>Status</th>
                                                    <th>Type</th>
                                                    <th>Placeholder</th>
                                                    <th>Options</th>
                                                    <th> Is AI</th>
                                                    <th> AI_prompt</th>
                                                    <th> Is Non applicable</th>
                                                    <th> helping text</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for question in questions%}
                                                {% if question.question.question_type == 'radio' %}
                                                    <tr style="cursor: pointer;" onclick="redirectToChildQuestions(event, '{% url 'get_child_questions' template_id section_id question.question.id %}')">
                                                {% else %}
                                                    </tr>
                                                {% endif %}
                                                    <td>{{question.parent_option}}</td>
                                                    <td>
                                                        {% if question.question.question|length <= 30 %}
                                                            {{ question.question.question }}
                                                        {% else %}
                                                            <span data-bs-toggle="tooltip" title="{{ question.question.question }}" data-bs-placement="top">
                                                                {{ question.question.question|truncatechars:30 }}
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{question.question.sequence_id}}</td>
                                                    <td>{% if question.question.is_active %}<span class="badge rounded-pill bg-success-light">Active</span>{%else%}<span class="badge rounded-pill bg-danger-light">Inactive</span>{%endif%}</td>
                                                    <td>{{question.question.question_type}}</td>
                                                    <td>{{question.question.placeholder}}</td>
                                                    <td>
                                                        {% for option in question.options%}
                                                            {{option.name}} , 
                                                        {% endfor%}
                                                    </td>
                                                    <td>{% if question.question.is_ai %}<span class="badge rounded-pill bg-success-light">Enabled</span>{%else%}<span class="badge rounded-pill bg-danger-light">Disabled</span>{%endif%}</td>
                                                    <td>
                                                        {% if question.question.ai_prompt|length <= 30 %}
                                                            {{ question.question.ai_prompt }}
                                                        {% else %}
                                                            <span data-bs-toggle="tooltip" title="{{ question.question.ai_prompt }}" data-bs-placement="top">
                                                                {{ question.question.ai_prompt|truncatechars:30 }}
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>{% if question.question.na_applicable%}<span class="badge rounded-pill bg-success-light">Enabled</span>{%else%}<span class="badge rounded-pill bg-danger-light">Disabled</span>{%endif%}</td>
                                                    <td>
                                                        {% if question.question.helping_text|length <= 30 %}
                                                            {{ question.question.helping_text }}
                                                        {% else %}
                                                            <span data-bs-toggle="tooltip" title="{{ question.question.helping_text }}" data-bs-placement="top">
                                                                {{ question.question.helping_text|truncatechars:30 }}
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="table-action">
                                                            <a href="#update_question_modal_{{question.question.id}}" class="btn btn-sm bg-primary-light" data-bs-toggle="modal" tooltip="Edit Question" onclick="event.stopPropagation();">
                                                                <i class="fa-solid fa-wrench"></i>
                                                            </a>

                                                        {% if can_remove %}
                                                            <a href="#remove_question_modal_{{question.question.id}}" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" tooltip="Delete Question" onclick="event.stopPropagation();">
                                                                <i class="fa-solid fa-trash-can"></i>
                                                            </a>
                                                        </div>
                                                        {% else %}
                                                            <a href="#non_removal_modal" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" tooltip="Delete Question" onclick="event.stopPropagation();">
                                                                <i class="fa-solid fa-trash-can"></i>
                                                            </a>
                                                        {%endif%}
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <!-- /subquestions Tab -->

                        <!-- options Tab -->
                        <div id="options_tab" class="tab-pane fade show {% if request.GET.tab == 'options'%}  active {% endif %}">
                            <div class="card card-table mb-0">
                                {% if not options%}
                                <div class="card-body" style="padding: 100px; text-align: center;">
                                    <h3 class="font-bold text-dark">No record found</h3>
                                </div>
                                {% else %}
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-center mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Option Name</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for option in options%}
                                                <tr>
                                                    <td>{{option.name}}</td>
                                                    <td>{% if option.is_active %}<span class="badge rounded-pill bg-success-light">Active</span>{%else%}<span class="badge rounded-pill bg-danger-light">Inactive</span>{%endif%}</td>
                                                    <td>
                                                        <div class="table-action">
                                                            <a href="#edit_option_modal_{{option.id}}" class="btn btn-sm bg-primary-light" data-bs-toggle="modal">
                                                                <i class="fa-solid fa-wrench"></i>
                                                            </a>
                                                        {% if can_remove %}
                                                            <a href="#remove_option_modal_{{option.id}}" class="btn btn-sm bg-danger-light" data-bs-toggle="modal">
                                                                <i class="fa-solid fa-trash-can"></i>
                                                            </a>
                                                        {% else %}
                                                            <a href="#non_removal_modal" class="btn btn-sm bg-danger-light" data-bs-toggle="modal">
                                                                <i class="fa-solid fa-trash-can"></i>
                                                            </a>
                                                        {%endif%}
                                                        </div>
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {%endif%}
                            </div>
                        </div>
                        <!-- /options Tab -->
                    </div>
                    <!-- Tab Content -->
                </div>
            </div>
        </div>
	</div>
    </div>
	</div>
    </div>
    <div class="modal fade" id="create_question_modal" style="display: none; z-index:100000" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="template">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <form  action="/create_subquestion" method="post">
                            {% csrf_token %}
                            <h4 class="modal-title">Create a Question</h4>

                            <div class="mb-3">
                                <label class="mb-2">Option to associate with:</label>
                                <div class="col-md-10">
                                    <select name="parent_option_id" class="form-select form-control">
                                        {% for option in parent_question.options%}
                                        <option value="{{option.id}}">{{option.name}}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3">
                                    <label class="mb-2">Please enter the text of the question</label>
                                    <textarea type="text" name="question_text" class="form-control" placeholder="Question Text" required></textarea>
                                    <input type="text" name="template_id" class="form-control" value="{{template_id}}" style="display: none;">
                                    <input type="text" name="section_id" class="form-control" value="{{section_id}}" style="display: none;">
                                    <input type="text" name="parent_question_id" class="form-control" value="{{parent_question.question.id}}" style="display: none;">
                            </div>

                            <div class="mb-3">
                                    <label class="mb-2">Helping text</label>
                                    <textarea type="text" name="helping_text" class="form-control" placeholder="Question Helping text"></textarea>
                            </div>

                            <div class="mb-3">
                                <label for="is_active">Is Question Active?:</label>
                                <select name="is_active" id="is_active" class="form-select form-control">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="sequence_id">Sequence ID:</label>
                                <input type="number" name="sequence_id" id="sequence_id" class="form-control" value="0" min="0">
                            </div>

                            <div class="mb-3">
                                <label class="mb-2">Please enter the placeholder of the question</label>
                                <input type="text" name="question_placeholder" class="form-control" placeholder="Question Placeholder" value="${}" required>
                                <small class="text-danger" id="placeholder_error" style="display: none;">Placeholder must be alphanumeric with underscores and inside ${}</small>
                            </div>


                            <div class="mb-3">
                                <label for="is_ai">Does Question include AI auto answering?:</label>
                                <select name="is_ai" id="is_ai" class="form-select form-control">
                                    <option value="False">No</option>
                                    <option value="True">Yes</option>
                                </select>
                            </div>

                            <div class="mb-3" id="ai_prompt_container" style="display: none;">
                                <label class="mb-2">AI Prompt</label>
                                <input type="text" name="ai_prompt" class="form-control" placeholder="AI Prompt">
                            </div>

                                <div class="mb-3">
                                <label for="na_applicable">Should question display a 'NOT APPLICABLE' option:</label>
                                <select name="na_applicable" id="na_applicable" class="form-select form-control">
                                    <option value="False">No</option>
                                    <option value="True">Yes</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="vimeo_link">Vimeo Embed Code</label>
                                <input type="text" class="form-control" id="vimeo_link" name="vimeo_link">
                            </div>

                            <div class="mb-3">
                                <label for="video_timestamp">Video Timestamp (seconds):</label>
                                <input type="number" name="video_timestamp" id="video_timestamp" class="form-control" min="0" placeholder="Enter start time in seconds">
                            </div>

                            <div class="mb-3">
                                <label for="question_type">Choose a question type:</label>
                                <select name="question_type" id="question_type" class="form-select form-control">
                                    <option value="text">Text</option>
                                    <option value="radio">Radio</option>
                                    <option value="multiple">Multiple Answers</option>
                                    <option value="date">Date</option>
                                    <option value="image">Image</option>
                                    <option value="single_checkbox">Single Checkbox</option>
                                    <option value="percentage">Percentage</option>
                                    <option value="currency">Currency</option>
                                </select>
                            </div>

                            <div class="mb-3" id="radioOptions" style="display: none;">
                            <div id="option-container">
                                <label for="option">Option 1:</label>
                                <input type="text" id="option" name="option" placeholder="Option Name" class="form-control mb-2">
                            </div>

                            <button type="button" class="btn btn-sm btn-success" onclick="addOptionField()">+</button>
                            
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Create a Question </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'generator_app/edit_questions.html' %}

    <!-- REMOVE QUESTION MODALS-->
    {% for question in questions%}
    <div class="modal fade" id="remove_question_modal_{{question.question.id}}" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="template">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <form  action="/remove_question" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                            <h4 class="modal-title">Are you sure you want to remove the question along with all the child questions and options</h4>
                            </div>
                            <input type="text" name="question_id" class="form-control" value="{{question.question.id}}" style="display: none;">
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel </button>
                                <button type="submit" class="btn btn-danger">Delete </button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- REMOVE QUESTION MODALS-->

    <!-- REMOVE OPTIONS MODALS-->
    {% for option in options%}
    <div class="modal fade" id="remove_option_modal_{{option.id}}" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="template">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <form  action="/remove_option" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                            <h4 class="modal-title">Are you sure you want to remove the option along with all the child questions and options</h4>
                            </div>
                            <input type="text" name="option_id" class="form-control" value="{{option.id}}" style="display: none;">
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel </button>
                                <button type="submit" class="btn btn-danger">Delete </button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- REMOVE OPTIONS MODALS-->

    <!-- EDIT OPTION MODALS-->
    {% for option in options%}
    <div class="modal fade" id="edit_option_modal_{{option.id}}" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="template">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-content p-2">
                        <form  action="/edit_option" method="post">
                            {% csrf_token %}
                            <h4 class="modal-title">Edit Option</h4>
                                <div class="mb-3">
                                        <label class="mb-2">Option Name</label>
                                        <input type="text" name="option_name" class="form-control" placeholder="Option Name" value="{{option.name}}" required>
                                        <input type="text" name="option_id" class="form-control" value="{{option.id}}" style="display: none;">
                                </div>

                                <div class="mb-3">
                                    <label for="is_active">Is Option Active?:</label>
                                    <select name="is_active" id="is_active" class="form-select form-control">
                                        <option value="True" {% if option.is_active %}selected{% endif %}>Yes</option>
                                        <option value="False" {% if not option.is_active %}selected{% endif %}>No</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Update </button>
                                </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- REMOVE OPTIONS MODALS-->
    
    <!-- NON REMOVAL MESSAGE-->
    <div class="modal fade" id="non_removal_modal" style="display: none; z-index: 100000;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title">The provided item cannot be removed because there are documents created that are associated with this template. However, you can make it inactive by using the edit function.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- NON REMOVAL MESSAGE-->

{% endblock %}

{% block static %}

<script>
    document.getElementById('question_type').addEventListener('change', function() {
        var questionType = this.value;
        var radioOptions = document.getElementById('radioOptions');

        if (questionType === 'radio') {
            radioOptions.style.display = 'block';
        } else {
            radioOptions.style.display = 'none';
        }
    });

    function addOptionField() {
        var container = document.getElementById("option-container");
        var input = document.createElement("input");
        input.type = "text";
        input.name = "option";
        input.placeholder = "Option Name";
        input.classList.add("form-control"); 
        container.appendChild(input);
    }
    
    document.getElementById("is_ai").addEventListener("change", function() {
        var isAiSelected = this.value === "True";
        var aiPromptContainer = document.getElementById("ai_prompt_container");
        if (isAiSelected) {
            aiPromptContainer.style.display = "block";
        } else {
            aiPromptContainer.style.display = "none";
        }
    });

    document.getElementsByName('question_placeholder')[0].addEventListener('blur', function() {
        var placeholder = this.value;
        var placeholderError = document.getElementById('placeholder_error');
        // var submitButton = document.getElementById('submit-btn');
        if (!validatePlaceholder(placeholder)) {
            placeholderError.style.display = 'block';
            // submitButton.disabled = true;
        } else {
            placeholderError.style.display = 'none';
            // submitButton.disabled = false;
        }
    });

    {% for question in questions %}
        document.getElementById('question_placeholder_{{ question.question.id }}').addEventListener('blur', function() {
            var updatePlaceholder = this.value;
            var updatePlaceholderError = document.getElementById('placeholder_error_{{ question.question.id }}');
            // var updateSubmitButton = document.getElementById('submit-btn-{{ question.question.id }}')
            if (!validatePlaceholder(updatePlaceholder)) {
                updatePlaceholderError.style.display = 'block';
                // updateSubmitButton.disabled = true;
            } else {
                updatePlaceholderError.style.display = 'none';
                // updateSubmitButton.disabled = false;
            }
        });
    {% endfor %}

    function validatePlaceholder(placeholder) {
        const regex = /^\$\{[a-zA-Z0-9_]+\}$/;
        return regex.test(placeholder);
    }

    $(document).ready(function() {
        $("#manage-categories-btn").addClass("btn-ns-primary");
        $("#manage-categories-btn").removeClass("btn-ns-secondary");
    });
</script>

<script>
    function redirectToChildQuestions(event, url) {
        event.stopPropagation();
        window.location.href = url;
    }
</script>

{% endblock %}